<!DOCTYPE html>
<html>
<head>
    <title>CICD</title>
</head>
<body>
    <form action="/send_and_show" method="post">
        <label for="ville">Veuillez entrer la ville :</label><br>
        <input type="text" id="ville" name="ville"><br>
        <label for="date">Veuillez entrer une date:</label><br>
        <input type="date" id="date" name="date"><br>
        <input type="submit" value="Valider">
    </form>

    {% if response %}
        <h2>Titre de la news : {{ response.title }}</h2>
        <p>URL de la news : <a href="{{ response.url }}">{{ response.url }}</a></p>
        <p>Température : {{ response.temperature }}</p>
        <a href="/"><input type="button" value="Reset"></a>
    {% endif %}

    
</body>
</html>
